.seventh-section {
  margin: 80px;
  text-align: center;
  color: #718096;
  display: block;

}

.header-text {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  padding: 0px 2rem;
}

.seventh-section h6 {
  text-decoration: none;
  margin: 0px;
  font-size: 18px;
  letter-spacing: .1rem;
  line-height: 100%;
  text-transform: uppercase;
}

.seventh-section section {
  overflow-x: hidden;
  display: block;
}

.section-div {
  display: flex;
  justify-content: center;
  width: max-content;
  margin-top: 16px;
  padding: 0px 1rem;
}

ul {
  display: flex;
  /* list-style: none; */
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

li {
  width: auto;
  /* padding: 1rem 31px; */
  display: list-item;
  
}