.seventh-section {
  margin: 80px 0;
  text-align: center;
  color: #718096;
}

.header-text {
  color: #718096;
  margin: auto;
  width: 100%;
  padding: 0px 2rem;
  font-size: 18px;
}

.header-text h6 {
  margin: 0px;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: .1rem;
  line-height: 100%;
  text-transform: uppercase;
}

.section-div .slick-track {
  display: flex;
  align-items: center;
  gap: 60px;
}

.slide-container {
  padding: 0px 1rem;
  margin-top: 16px;
}

.companyLogo {
  filter: grayscale(100%) opacity(0.8);
  transition: filter 0.1s;
}

.companyLogo:hover {
  filter: grayscale(0%);
}

@media (min-width: 768px) {
  .slide-container {
    margin-top: 32px;
  }
}

@media (min-width: 940px) {
  .header-text {
    padding: 0px 1.5rem;
    max-width: 1248px;
  }
}

@media (min-width: 1024px) {
  .slide-container {
    margin-top: 64px;
  }
}