.nav-link {
    position: relative;
    transition: ease-in-out 0.2s;
}

.nav-link:hover {
    color: var(--pri);
}

.nav-link .nav-item::after {
    content: '';
    display: block;
    transition: opacity 0.1s ease 0s;
    height: 1px;
    opacity: 0;
    background-color: rgb(90, 103, 216);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
}

.nav-link:hover .nav-item::after {
    opacity: 1;
}

.nav-link:hover>.nav-item>i {
    transform: rotate3d(1, 0, 0, 180deg);
}

.nav-link .nav-sub-item {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link:hover .nav-sub-item {
    display: block;
}

.nav-link .nav-sub-item .nav-sub-item-heading span {
    margin-left: 8px;
    background: var(--pri);
    border-radius: 99px;
    padding: 6px 8px;
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.nav-link .nav-sub-item a>div:first-child:has(i) {
    background-color: #f7fafc;
    border-radius: 5px;
    padding: 8px;
    width: 38px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
}

.nav-link .product_nav-sub-item a {
    cursor: pointer;
    display: flex;
    gap: 12px;
    align-items: center;
    text-decoration: none;
    padding: 0px 1rem 0px 2rem;
    margin-bottom: 1rem;
}

.nav-link .product_nav-sub-item a:last-child {
    margin-bottom: 0;
}

.nav-link .nav-sub-item.developer_nav-sub-items .items a {
    cursor: pointer;
    display: flex;
    gap: 12px;
    align-items: center;
    text-decoration: none;
    padding: 0px 1rem 0px 2rem;
}


.nav-link h4 {
    font-family: 'Barlow', sans-serif;
    padding: 0 2rem;
    margin: 0.75rem 0 1.125rem 0;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 1;
}

@media (max-width: 1024px) {
    .toggleBtn {
        display: block;
        padding: 16px 24px;
        margin: 4px;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav,
    .get-started {
        display: none;
    }
}