svg.active .svg-elem-14 {
    stroke-dashoffset: 0;
}

svg .svg-elem-14 {
    stroke-dashoffset: 51.0193px;
    stroke-dasharray: 51.0193px;
    transition: stroke-dashoffset 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) 0.39s
}

svg.active .svg-elem-15 {
    stroke-dashoffset: 0;
}

svg .svg-elem-15 {
    stroke-dashoffset: 56.806px;
    stroke-dasharray: 56.806px;
    transition: stroke-dashoffset 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) 0.42s
}

svg.active .svg-elem-16 {
    stroke-dashoffset: 0;
}

svg .svg-elem-16 {
    stroke-dashoffset: 30.3338px;
    stroke-dasharray: 30.3338px;
    transition: stroke-dashoffset 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45s;
}

svg.active .svg-elem-17 {
    stroke-dashoffset: 0;
}

svg .svg-elem-17 {
    stroke-dashoffset: 51.0193px;
    stroke-dasharray: 51.0193px;
    transition: stroke-dashoffset 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s;
}

svg.active .svg-elem-18 {
    stroke-dashoffset: 0;
}

svg .svg-elem-18 {
    stroke-dashoffset: 56.408px;
    stroke-dasharray: 56.408px;
    transition: stroke-dashoffset 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) 0.51s;
}

svg.active .svg-elem-19 {
    stroke-dashoffset: 0;
}

svg .svg-elem-19 {
    stroke-dashoffset: 168.475px;
    stroke-dasharray: 168.475px;
    transition: stroke-dashoffset 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) 0.54s;
}

svg.active .svg-elem-20 {
    stroke-dashoffset: 0;
}

svg .svg-elem-20 {
    stroke-dashoffset: 45.473px;
    stroke-dasharray: 45.473px;
    transition: stroke-dashoffset 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) 0.57s;
}

svg.active .svg-elem-21 {
    stroke-dashoffset: 0;
}

svg .svg-elem-21 {
    stroke-dashoffset: 48.625px;
    stroke-dasharray: 48.625px;
    transition: stroke-dashoffset 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
}

svg.active .svg-elem-22 {
    stroke-dashoffset: 0;
}

svg .svg-elem-22 {
    stroke-dashoffset: 30.3333px;
    stroke-dasharray: 30.3333px;
    transition: stroke-dashoffset 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) 0.63s;
}

svg.active .svg-elem-23 {
    stroke-dashoffset: 0;
}

svg .svg-elem-23 {
    stroke-dashoffset: 51.019px;
    stroke-dasharray: 51.019px;
    transition: stroke-dashoffset 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) 0.66s;
}

svg.active .svg-elem-24 {
    stroke-dashoffset: 0;
}

svg .svg-elem-24 {
    stroke-dashoffset: 56.806px;
    stroke-dasharray: 56.806px;
    transition: stroke-dashoffset 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) 0.69s;
}

svg.active .svg-elem-25 {
    stroke-dashoffset: 0;
}

svg .svg-elem-25 {
    stroke-dashoffset: 30.3348px;
    stroke-dasharray: 30.3348px;
    transition: stroke-dashoffset 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s;
}

svg.active .svg-elem-26 {
    stroke-dashoffset: 0;
}

svg .svg-elem-26 {
    stroke-dashoffset: 30.3352px;
    stroke-dasharray: 30.3352px;
    transition: stroke-dashoffset 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s;
}