.badge-section {
    flex-wrap: wrap;
}

.badge-list {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 16px 12px;
    font-size: 20px;
    font-weight: bold;
    color: #4a5568;
}

.badge-item {
    padding: 8px 12px;
    background-color: #edf2f7;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    color: #4a5568;
    height: fit-content;
    line-height: 1.3;
}