<div>
    <h4>Prisma ORM</h4>
    <a color="indigo" href="/client">
        <div>
            <i className="fa-regular fa-terminal"></i>
        </div>
        <div>
            <div>Client</div>
            <div>Write Queries the way you think</div>
        </div>
    </a>
    <a color="indigo" href="/migrate">
        <div>
            <i className="fa-regular fa-arrows-rotate "></i>
        </div>
        <div>
            <div>Migrate</div>
            <div>Generate customisable SQL migrations</div>
        </div>
    </a>
    <h4>Prisma Data Platform</h4>
    <a color="indigo" href="/data-platform/accelerate">
        <div class="link-icon"><i class="fa-regular fa-bolt "></i></div>
        <div>
            <div>
                <div>Accelerate<span>preview</span></div>
            </div>
            <div>Query up to 1000x faster</div>
        </div>
    </a><a color="indigo" href="/data-platform/pulse">
        <div><i class="fa-regular fa-signal-stream "></i></div>
        <div>
            <div>
                <div>Pulse<span>early access</span></div>
            </div>
            <div>Make your database real-time</div>
        </div>
    </a>
    <a color="indigo" href="/data-platform">
        <div><i class="fa-regular fa-folder-magnifying-glass "></i></div>
        <div>
            <div>Data Browser</div>
            <div>Explore and manipulate data in your projects</div>
        </div>
    </a>
    <a color="indigo" href="/data-platform/proxy">
        <div><i class="fa-regular fa-server "></i></div>
        <div>
            <div>Data Proxy</div>
            <div>Manage and scale your connection pool</div>
        </div>
    </a>
</div>