.nav-link {
    position: relative;
    transition: ease-in-out 0.2s;
}

.nav-link:hover {
    color: var(--pri);
}

.nav-link::after {
    content: '';
    display: block;
    transition: opacity 0.1s ease 0s;
    height: 2px;
    opacity: 0;
    background-color: rgb(90, 103, 216);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
}

.nav-link:hover::after {
    opacity: 1;
}