@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Inter:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125rem;
  line-height: 1.6;
  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --pri: #5A67D8;
  --priDark: #4C51BF;
  --sec: #1A212D;
  --ter: #16A394;
  --terDark: #17877A;
  --textNormal: #4a5568;
  --textLight: #718096;
  --headingColor: #1a202c;
  --black: #000000;
  --white: #ffffff;
  --red: #ff0000;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

.fontBarlow {
  font-family: 'Barlow', sans-serif;
}

.fontInter {
  font-family: 'Inter', sans-serif;
}

.headingColor {
  color: var(--headingColor);
}

.priDark {
  color: var(--priDark)
}

.pri {
  color: var(--pri)
}

.textNormal {
  color: var(--textNormal);
}

.textLight {
  color: var(--textLight);
}

h1 {
  line-height: 68px;
  margin-bottom: 46px;
  letter-spacing: -0.02em;
  font-size: 60px;
}

p {
  color: #4a5568
}

a {
  font-size: 16px;
  font-weight: 600;
}

.nav-link {
  padding: 12px 16px;
}

.hero-bg {
  background-image: url('./assets/images/hero-lines.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f7fafc;
  background-position: 60% 0;
}

.toggleBtn {
  display: none;
}

.customShadow {
  box-shadow: rgba(0, 19, 53, 0.06) 0px 9px 27px, rgba(0, 19, 53, 0.043) 0px 3.75998px 11.28px, rgba(0, 19, 53, 0.035) 0px 2.01027px 6.0308px, rgba(0, 19, 53, 0.03) 0px 1.12694px 3.38082px, rgba(0, 19, 53, 0.024) 0px 0.598509px 1.79553px, rgba(0, 19, 53, 0.016) 0px 0.249053px 0.747159px;
}

@media (max-width: 1024px) {
  .toggleBtn {
    display: block;
    padding: 16px 24px;
    margin: 4px;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-section>div {
    flex-wrap: wrap;

    & .hero-body {
      margin-right: 0 !important;
    }

    & .hero-button {
      flex-direction: column;
    }
  }

  .hero-button {
    display: flex;
    column-gap: 20px;
  }


  .yt-video {
    width: 100%;

    & iframe {
      width: 100%;
    }
  }

  .nav,
  .get-started {
    display: none;
  }
}